@page "/kitchen"
@using StockCube.UI.Kitchen
@inject IKitchenViewModel vm;

<PageTitle>Kitchen</PageTitle>
<MudStack>
  <MudStack Spacing="1" Row="true">
    <MudIcon Icon="@Icons.Material.Outlined.Kitchen" Title="Kitchen" />
    <MudText class="mb-2" Typo="Typo.h6">Kitchen</MudText>
  </MudStack>

  <!--Table header-->
  <MudStack Spacing="1">
    <MudPaper Class="d-flex align-end flex-grow-1 gap-4" Elevation="0">
      <MudText Align="Align.Center" class="object-bottom" Typo="Typo.h6">Section</MudText>
      <MudSelect Dense="true" T="string" Label="Coffee" Variant="Variant.Outlined">
                @{
                    foreach(string item in vm.ListOfSections)
                    {
                        <MudSelectItem Value="@(item.ToString())" />
                    }
                }
      </MudSelect>
            <MudButton Size="Size.Medium" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info"></MudButton>
    </MudPaper>
  </MudStack>

  <!--Main Table-->
  <MudTable Items="@_foodItems" Striped="true" Dense="true">

    <HeaderContent>
      <MudTh>Name</MudTh>
      <MudTh>Amount</MudTh>
      <MudTh>Units</MudTh>
          <MudTh>Quantity</MudTh>
      <MudTh>Expiry Date</MudTh>
      <MudTh>&nbsp;</MudTh>
    </HeaderContent>
    <RowTemplate>
      <MudTd DataLabel="Name">@context.Name</MudTd>
      <MudTd DataLabel="Amount">@context.Amount</MudTd>
      <MudTd DataLabel="Units">@context.Units</MudTd>
      <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
      <MudTd DataLabel="Expiry Date">@context.ExpiryDate</MudTd>
      <MudTd>
        <MudButton Size="Size.Small" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Info">Edit</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete</MudButton>
      </MudTd>
    </RowTemplate>
    <FooterContent>
                <MudButton Size="Size.Medium" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Refresh" OnClick="() => vm.Refresh()" Color="Color.Tertiary">Refresh</MudButton>
      <MudButton Size="Size.Medium" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info">Add</MudButton>
    </FooterContent>
  </MudTable>
</MudStack>

@code {
    public class FoodItemViewModel
    {
        public string Name { get; set; }
        public double Amount { get; set; }
        public string Units { get; set; }
        public string Quantity { get; set; }
        public string ExpiryDate { get; set; }
    }
    public List<FoodItemViewModel> _foodItems = new()
    {
      new ()
      {
        Name="Chicken",
        Amount=100,
        Units="g",
        Quantity="1x",
        ExpiryDate="03-feb-2023"
      },
      new ()
      {
        Name="Maris Piper Potatoes",
        Amount=2.5,
        Units="kg",
        Quantity="1x",
        ExpiryDate="19-feb-2023"
      },
      new ()
      {
        Name="Semi Skimmed Milk",
        Amount=4,
        Units="pints",
        Quantity="3x",
        ExpiryDate="10-feb-2023"
      },
      new ()
      {
        Name="Heniz Baked Beans",
        Amount=415,
        Units="g",
        Quantity="16x",
        ExpiryDate="03-feb-2024"
      }
    };
}


@*<div class="flex-auto py-5 px-5">
    <div>
        <div class="dropdown relative">
            <button class="
              dropdown-toggle
              px-6
              py-2.5
              bg-blue-600
              text-white
              font-medium
              text-xs
              leading-tight
              uppercase
              rounded
              shadow-md
              hover:bg-blue-700 hover:shadow-lg
              focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
              active:bg-blue-800 active:shadow-lg active:text-white
              transition
              duration-150
              ease-in-out
              flex
              items-center
              whitespace-nowrap"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Sections
                <svg aria-hidden="true"
                      focusable="false"
                      data-prefix="fas"
                      data-icon="caret-down"
                      class="w-2 ml-2"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512">
                    <path fill="currentColor"
                          d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                </svg>
            </button>
        </div>
    </div>

    <div class="grid grid-cols-5 auto-rows-auto gap-4 bg-slate-500 px-5">
      <div>Name</div>
      <div>Amount</div>
      <div>Units</div>
      <div>Quanitity</div>
      <div>Expiry Date</div>
    </div>

    <div class="flex-auto p-2">
      <button
      type="button"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light" 
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      Add
      </button>

      <button
      type="button"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      Edit
      </button>

      <button type="button"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      Delete
      </button>
    </div>
  </div>*@

@*  <AddSection></AddSection>*@

